<wm-page data-ng-controller="RichTextEditorPageController" pagetitle="Rich Text Editor" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-container name="container1" content="richtext"></wm-container>
        </wm-page-content>
    </wm-content>
</wm-page>