<wm-page data-ng-controller="treeWdigetPageController" pagetitle="Tree Wdiget" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-tree name="tree1" dataset="bind:Variables.Dept.dataSet" nodelabel="name" nodechildren="employees[$i].firstname" nodeid="deptCode" nodeclick="expand" nodeaction="budget"></wm-tree>
        </wm-page-content>
    </wm-content>
</wm-page>