<wm-page data-ng-controller="PanelPageController" pagetitle="Panel" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-panel subheading="subheading" iconclass="wi wi-account-circle" autoclose="outsideClick" title="Title" name="panel1" on-load="panel1Load($isolateScope)">
                <wm-panel-footer name="panel_footer1">
                    <wm-label padding="unset 0.5em" class="text-muted" caption="Addition Info" name="label1"></wm-label>
                </wm-panel-footer>
                <wm-composite name="composite1">
                    <wm-label class="col-md-3 control-label" name="label2"></wm-label>
                    <wm-container class="col-md-9" name="container1">
                        <wm-text name="text1" required="true"></wm-text>
                    </wm-container>
                </wm-composite>
                <wm-composite name="composite2">
                    <wm-label class="col-md-3 control-label" name="label3"></wm-label>
                    <wm-container class="col-md-9" name="container2">
                        <wm-textarea name="textarea1" required="true"></wm-textarea>
                    </wm-container>
                </wm-composite>
                <wm-composite name="composite3" required="true">
                    <wm-label class="col-md-3 control-label" name="label4"></wm-label>
                    <wm-container class="col-md-9" name="container3">
                        <wm-radioset height="auto" name="radioset1"></wm-radioset>
                    </wm-container>
                </wm-composite>
                <wm-composite name="composite4">
                    <wm-label class="col-md-3 control-label" name="label5"></wm-label>
                    <wm-container class="col-md-9" name="container4">
                        <wm-select name="select1" required="true"></wm-select>
                    </wm-container>
                </wm-composite>
                <wm-composite name="composite5">
                    <wm-label class="col-md-3 control-label" name="label6"></wm-label>
                    <wm-container class="col-md-9" name="container5">
                        <wm-currency name="currency1" required="true"></wm-currency>
                    </wm-container>
                </wm-composite>
            </wm-panel>
            <wm-button class="btn-default" caption="Button" type="button" margin="unset 0.5em" name="button1" on-click="button1Click($event, $scope)"></wm-button>
            <wm-livetable name="UserLiveTable1">
                <wm-table gridfirstrowselect="true" editmode="form" name="UserTable2" title="User List" dataset="bind:Variables.HrdbUserData1.dataSet" navigation="Basic">
                    <wm-table-column binding="userId" caption="User Id" generator="identity" pcdisplay="true" mobiledisplay="true" type="integer" primary-key="true" readonly="true"></wm-table-column>
                    <wm-table-column binding="username" caption="Username" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-table-column>
                    <wm-table-column binding="password" caption="Password" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-table-column>
                    <wm-table-column binding="role" caption="Role" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-table-column>
                    <wm-table-column binding="tenantId" caption="Tenant Id" generator="assigned" pcdisplay="true" mobiledisplay="true" type="integer"></wm-table-column>
                    <wm-table-action key="addNewRow" display-name="New" iconclass="wi wi-plus" show="true" class="btn-primary" action="addNewRow()" position="footer" shortcutkey=""></wm-table-action>
                    <wm-table-row-action key="updaterow" display-name="" title="Edit" iconclass="wi wi-pencil" show="true" class="btn-transparent" action="editRow()"></wm-table-row-action>
                    <wm-table-row-action key="deleterow" display-name="" title="Delete" iconclass="wi wi-trash" show="true" class="btn-transparent" action="deleteRow()"></wm-table-row-action>
                </wm-table>
                <wm-liveform errormessage="" title="User Info" formlayout="inline" iconclass="wi wi-edit" name="UserLiveForm1" dataset="bind:Variables.HrdbUserData1.dataSet" captionalign="left" captionposition="top" insertmessage="test" updatemessage="">
                    <wm-layoutgrid columns="3" name="layoutgrid1">
                        <wm-gridrow name="gridrow1">
                            <wm-gridcolumn columnwidth="4" name="gridcolumn1">
                                <wm-form-field name="username" displayname="Username" show="true" primary-key="false" generator="assigned" key="username" type="string" readonly="false" required="false" widget="text" maxchars="20" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="4" name="gridcolumn2">
                                <wm-form-field name="password" displayname="Password" show="true" primary-key="false" generator="assigned" key="password" type="string" readonly="false" required="false" widget="text" maxchars="20" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="4" name="gridcolumn3">
                                <wm-form-field name="role" displayname="Role" show="true" primary-key="false" generator="assigned" key="role" type="string" readonly="false" required="false" widget="text" maxchars="20" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow2">
                            <wm-gridcolumn columnwidth="4" name="gridcolumn4">
                                <wm-form-field name="tenantId" displayname="Tenant Id" show="true" primary-key="false" generator="assigned" key="tenantId" type="integer" readonly="false" required="false" step="0" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                    <wm-form-field name="userId" displayname="User Id" show="false" primary-key="true" generator="identity" key="userId" type="integer" readonly="true" required="true" step="0" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                    <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="wi wi-cancel" title="Cancel" action="cancel()" disabled="false" type="button" update-mode="true"></wm-form-action>
                    <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="wi wi-save" title="Save" disabled="false" type="submit" update-mode="true"></wm-form-action>
                </wm-liveform>
            </wm-livetable>
            <wm-table editmode="inline" name="UserTable1" title="User List" dataset="bind:Variables.HrdbUserData.dataSet" navigation="Basic" updatemessage="test" insertmessage="test" errormessage="test" deletemessage="">
                <wm-table-column binding="userId" caption="User Id" primary-key="true" edit-widget-type="number" type="integer" generator="identity" readonly="true" show="true"></wm-table-column>
                <wm-table-column binding="username" caption="Username" edit-widget-type="text" type="string" generator="assigned" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="password" caption="Password" edit-widget-type="text" type="string" generator="assigned" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="role" caption="Role" edit-widget-type="text" type="string" generator="assigned" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="tenantId" caption="Tenant Id" edit-widget-type="number" type="integer" generator="assigned" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="rowOperations" caption="Actions" width="120px" edit-widget-type="text" type="custom" readonly="true" sortable="false" searchable="false" show="true"></wm-table-column>
                <wm-table-action key="addNewRow" display-name="New" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="addNewRow()" shortcutkey="" disabled="false"></wm-table-action>
                <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()" disabled="false"></wm-table-row-action>
                <wm-table-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" disabled="false"></wm-table-row-action>
            </wm-table>
        </wm-page-content>
    </wm-content>
</wm-page>