<wm-page data-ng-controller="TestTextPageController" pagetitle="Test Text" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-richtexteditor name="richtexteditor1"></wm-richtexteditor>
        </wm-page-content>
    </wm-content>
</wm-page>