<wm-page data-ng-controller="testDatePageController" pagetitle="Test Date" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-composite name="composite1">
                <wm-label class="col-md-3 control-label" name="label1"></wm-label>
                <wm-container class="col-md-9" name="container1">
                    <wm-date name="date1"></wm-date>
                </wm-container>
            </wm-composite>
        </wm-page-content>
    </wm-content>
</wm-page>