<wm-partial data-ng-controller="richtextPageController" name="partial1">
    <wm-richtexteditor name="richtexteditor1" datavalue="bind:$parent.Variables.mailtemplateobj.dataSet.SMST_CONTENT"></wm-richtexteditor>
</wm-partial>