<wm-page data-ng-controller="testContainerPageController" pagetitle="Test Container" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-container name="container1"></wm-container>
        </wm-page-content>
    </wm-content>
</wm-page>