<wm-page data-ng-controller="CurrencyPageController" pagetitle="Currency" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-composite name="composite1">
                <wm-label class="col-md-3 control-label" name="label1"></wm-label>
                <wm-container class="col-md-9" name="container1">
                    <wm-currency name="currency1" step="0.01" currency="EUR" on-change="currency1Change($event, $scope, newVal, oldVal)" on-focus="currency1Focus($event, $scope)"></wm-currency>
                </wm-container>
            </wm-composite>
            --{{Widgets.currency1.datavalue}}--
        </wm-page-content>
    </wm-content>
</wm-page>