<wm-page data-ng-controller="LocalePageController" pagetitle="Locale" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-select class="select-locale" dataset="bind:Variables.supportedLocale.dataSet" placeholder="Select Language" name="select1"></wm-select>
        </wm-page-content>
    </wm-content>
</wm-page>