<wm-page data-ng-controller="LocalizationPageController" pagetitle="Localization" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-label padding="unset 0.5em" name="label1" caption="bind:appLocale.KEY_1"></wm-label>
            <wm-select class="select-locale" dataset="bind:Variables.supportedLocale.dataSet" on-change="changeAppLocale($scope);select1Change($event, $scope, newVal, oldVal)" placeholder="Select Language" name="select1"></wm-select>
            <wm-menu caption="Menu" autoclose="outsideClick" name="menu1" dataset="bind:Variables.menudata.dataSet" itemlabel="bind:$root.appLocale[mylabel]" itemlink="link" itemicon="icon"></wm-menu>
            <wm-table name="uploadFileTable1" title="" dataset="bind:Variables.FileServiceUploadFile.dataSet" navigation="Basic">
                <wm-table-column binding="inlinePath" caption="Inline Path" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="path" caption="Path" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="fileName" caption="File Name" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="success" caption="Success" edit-widget-type="checkbox" type="boolean" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="length" caption="Length" edit-widget-type="number" type="long" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="errorMessage" caption="Error Message" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                <wm-table-action key="addNewRow" display-name="New" iconclass="wi wi-plus" show="true" class="btn-primary" action="addNewRowAction($event)" position="" shortcutkey=""></wm-table-action>
                <wm-table-row-action key="updaterow" display-name="" title="Edit" iconclass="wi wi-pencil" show="true" class="btn-transparent" action="editRow()"></wm-table-row-action>
                <wm-table-row-action key="deleterow" display-name="" title="Delete" iconclass="wi wi-trash" show="true" class="btn-transparent" action="deleteRow()"></wm-table-row-action>
            </wm-table>
        </wm-page-content>
    </wm-content>
</wm-page>