<wm-page data-ng-controller="DialogPagePageController" pagetitle="Dialog Page"> 
    <wm-content> 
        <wm-page-content columnwidth="12"> 
        </wm-page-content> 
    </wm-content> 
</wm-page>