<wm-page data-ng-controller="QueriesPageController" pagetitle="Queries" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-label padding="unset 0.5em" name="label1" caption="Hello <br> test"></wm-label>
        </wm-page-content>
    </wm-content>
</wm-page>