<wm-page data-ng-controller="ServiceVarCheckPageController" pagetitle="Service Var Check" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-composite name="composite1">
                <wm-label class="col-md-3 control-label" name="label1" caption="bind:Variables.AppTest.dataSet"></wm-label>
                <wm-container class="col-md-9" name="container1">
                    <wm-date name="date1" on-change="date1Change($event, $scope, newVal, oldVal)"></wm-date>
                </wm-container>
            </wm-composite>
            <wm-composite name="composite2">
                <wm-label class="col-md-3 control-label" name="label2"></wm-label>
                <wm-container class="col-md-9" name="container2">
                    <wm-text name="text1"></wm-text>
                </wm-container>
            </wm-composite>
            <wm-button class="btn-default" caption="Button" type="button" margin="unset 0.5em" name="button1" on-click="Variables.serviceVariable1.invoke()"></wm-button>
        </wm-page-content>
    </wm-content>
</wm-page>