<wm-page data-ng-controller="GridLayoutPageController" pagetitle="Grid Layout" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-layoutgrid name="layoutgrid1">
                <wm-gridrow name="gridrow1">
                    <wm-gridcolumn columnwidth="6" name="gridcolumn1" class="hidden">
                        <wm-composite name="composite1">
                            <wm-label class="col-md-3 control-label" name="label1"></wm-label>
                            <wm-container class="col-md-9" name="container1">
                                <wm-select name="select1"></wm-select>
                            </wm-container>
                        </wm-composite>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="6" name="gridcolumn2"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow2">
                    <wm-gridcolumn columnwidth="6" name="gridcolumn3"></wm-gridcolumn>
                    <wm-gridcolumn columnwidth="6" name="gridcolumn4"></wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
        </wm-page-content>
    </wm-content>
</wm-page>