<wm-page data-ng-controller="PublicPagePageController" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-layoutgrid name="layoutgrid1">
                <wm-gridrow name="gridrow22_2" padding="0em 0em .5em 0em ">
                    <wm-gridcolumn columnwidth="3" name="gridcolumn44_3" padding=".5em">
                        <wm-tile name="tile6_1" backgroundcolor="#e4f4f5">
                            <wm-layoutgrid name="layoutgrid11_3">
                                <wm-gridrow name="gridrow24_3">
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn50_1" horizontalalign="center" class="col-xs-4" padding="3em .5em">
                                        <wm-label name="label40_2" caption="89%" fontweight="bold" fontsize="2" fontunit="em"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="8" name="gridcolumn51_1" class="col-xs-8" padding="3em 0.5em 3em 0em ">
                                        <wm-label name="label41_2" caption="Offer Acceptance" class="text-uppercase" width="100%" margin="0px"></wm-label>
                                        <wm-label name="label42_2" caption="This week" fontstyle="italic" width="100%"></wm-label>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                            <wm-table editmode="inline" name="UserTable1" title="User List" dataset="bind:Variables.HrdbUserData.dataSet" navigation="Basic">
                                <wm-table-column binding="userId" caption="User Id" primary-key="true" edit-widget-type="number" type="integer" generator="identity" readonly="true" show="true"></wm-table-column>
                                <wm-table-column binding="username" caption="Username" edit-widget-type="text" type="string" generator="assigned" show="true" readonly="false">{{pageParams.testName}}</wm-table-column>
                                <wm-table-column binding="password" caption="Password" edit-widget-type="text" type="string" generator="assigned" show="true" readonly="false"></wm-table-column>
                                <wm-table-column binding="role" caption="Role" edit-widget-type="text" type="string" generator="assigned" show="true" readonly="false"></wm-table-column>
                                <wm-table-column binding="tenantId" caption="Tenant Id" edit-widget-type="number" type="integer" generator="assigned" show="true" readonly="false"></wm-table-column>
                                <wm-table-column binding="rowOperations" caption="Actions" width="120px" edit-widget-type="text" type="custom" readonly="true" sortable="false" searchable="false" show="true"></wm-table-column>
                                <wm-table-action key="addNewRow" display-name="New" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="addNewRow()" shortcutkey="" disabled="false"></wm-table-action>
                                <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()" disabled="false"></wm-table-row-action>
                                <wm-table-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" disabled="false"></wm-table-row-action>
                            </wm-table>
                        </wm-tile>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="3" name="gridcolumn45_3" padding=".5em">
                        <wm-tile backgroundcolor="#aaeaea" name="tile7_1">
                            <wm-layoutgrid name="layoutgrid12_2">
                                <wm-gridrow name="gridrow27">
                                    <wm-gridcolumn columnwidth="4" horizontalalign="center" name="gridcolumn59_1" class="col-xs-4" padding="3em .5em">
                                        <wm-label caption="91%" fontweight="bold" fontsize="2" fontunit="em" name="label43_2"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="8" name="gridcolumn60_1" class="col-xs-8" padding="3em .5em 3em 0em ">
                                        <wm-label caption="Join Success" class="text-uppercase" width="100%" name="label44_2" margin="0px"></wm-label>
                                        <wm-label caption="This week" fontstyle="italic" width="100%" name="label45_2" margin="0px"></wm-label>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                        </wm-tile>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="3" name="gridcolumn46_2" padding=".5em">
                        <wm-tile backgroundcolor="#c94444" name="tile8">
                            <wm-layoutgrid name="layoutgrid13">
                                <wm-gridrow name="gridrow28">
                                    <wm-gridcolumn columnwidth="4" horizontalalign="center" name="gridcolumn61_1" class="col-xs-4" padding="3em .5em">
                                        <wm-label caption="100%" fontweight="bold" fontsize="2" fontunit="em" name="label46" color="#ffffff"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="8" name="gridcolumn62_1" class="col-xs-8" padding="3em .5em 3em 0em ">
                                        <wm-label caption="Attrition Rate" class="text-uppercase" width="100%" name="label47" color="#ffffff" margin="0px"></wm-label>
                                        <wm-label caption="This week" fontstyle="italic" width="100%" name="label48_1" color="#ffffff" margin="0px"></wm-label>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                        </wm-tile>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="3" name="gridcolumn47_2" padding=".5em">
                        <wm-tile backgroundcolor="#50bfdb" name="tile9">
                            <wm-layoutgrid name="layoutgrid14">
                                <wm-gridrow name="gridrow29">
                                    <wm-gridcolumn columnwidth="4" horizontalalign="center" name="gridcolumn63_1" class="col-xs-4" padding="3em .5em">
                                        <wm-label caption="10%" fontweight="bold" fontsize="2" fontunit="em" name="label49_1" color="#ffffff"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="8" name="gridcolumn64_1" class="col-xs-8" padding="3em .5em 3em 0em ">
                                        <wm-label caption="Total Count" class="text-uppercase" width="100%" name="label50_1" color="#ffffff" margin="0px"></wm-label>
                                        <wm-label caption="This week" fontstyle="italic" width="100%" name="label51_1" color="#ffffff" margin="0px"></wm-label>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                        </wm-tile>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow10" padding="0em .5em">
                    <wm-gridcolumn columnwidth="6" name="gridcolumn21" padding="0em .5em 0em 0em ">
                        <wm-panel collapsible="false" showheader="true" name="panel3" title="Employee Satisfaction Rate" height="35em" borderwidth="0em" padding="1em 1em 0em 1em">
                            <wm-chart type="Column" name="chart5" xaxislabel="Month" yaxislabeldistance="1" yaxislabel="Satisfaction rate" showlegend="false" barspacing="0.7" theme="Orient" height="100%"></wm-chart>
                        </wm-panel>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="6" name="gridcolumn22" padding="0em 0em 0em .5em ">
                        <wm-panel collapsible="false" showheader="true" name="panel4" title="Attrition Summary" height="35em" borderwidth="0em" margin="0em" padding="1em 0em 0em 0em">
                            <wm-accordion name="accordion1">
                                <wm-accordionpane name="accordionpane1" heading="May 2015" borderwidth="0em" borderstyle="none">
                                    <wm-layoutgrid name="layoutgrid12_1">
                                        <wm-gridrow name="gridrow29_1">
                                            <wm-gridcolumn columnwidth="3" name="gridcolumn59" padding="1em .5em">
                                                <wm-label caption="Week 1" name="label50" margin="0em"></wm-label>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="9" name="gridcolumn60" padding="1em">
                                                <wm-label caption="Attrition rate on week 1 was 40%" name="label51" margin="0em"></wm-label>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                        <wm-gridrow name="gridrow30">
                                            <wm-gridcolumn columnwidth="3" name="gridcolumn61" padding="1em .5em">
                                                <wm-label caption="Week 2" name="label52" margin="0em"></wm-label>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="9" name="gridcolumn62" padding="1em">
                                                <wm-label caption="Attrition rate on week 2 was 40%" name="label53" margin="0em"></wm-label>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                        <wm-gridrow name="gridrow31">
                                            <wm-gridcolumn columnwidth="3" name="gridcolumn63" padding="1em .5em">
                                                <wm-label caption="Week 3" name="label54" margin="0em"></wm-label>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="9" name="gridcolumn64" padding="1em">
                                                <wm-label caption="Attrition rate on week 3 was 40%" name="label55" margin="0em"></wm-label>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                        <wm-gridrow name="gridrow32">
                                            <wm-gridcolumn columnwidth="3" name="gridcolumn65_1" padding="1em .5em">
                                                <wm-label caption="Week 4" name="label56" margin="0em"></wm-label>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="9" name="gridcolumn66_1" padding="1em">
                                                <wm-label caption="Attrition rate on week 4 was 40%" name="label57" margin="0em"></wm-label>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                    </wm-layoutgrid>
                                </wm-accordionpane>
                                <wm-accordionpane name="accordionpane2" heading="April 2015" borderwidth="0em">
                                    <wm-layoutgrid name="layoutgrid11_1">
                                        <wm-gridrow name="gridrow25">
                                            <wm-gridcolumn columnwidth="3" name="gridcolumn51" padding="1em .5em">
                                                <wm-label caption="Week 1" name="label42_1" margin="0em"></wm-label>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="9" name="gridcolumn52" padding="1em">
                                                <wm-label caption="Attrition rate on week 1 was 40%" name="label43_1" margin="0em"></wm-label>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                        <wm-gridrow name="gridrow26">
                                            <wm-gridcolumn columnwidth="3" name="gridcolumn53" padding="1em .5em">
                                                <wm-label caption="Week 2" name="label44_1" margin="0em"></wm-label>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="9" name="gridcolumn54" padding="1em">
                                                <wm-label caption="Attrition rate on week 2 was 40%" name="label45_1" margin="0em"></wm-label>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                        <wm-gridrow name="gridrow27_1">
                                            <wm-gridcolumn columnwidth="3" name="gridcolumn55" padding="1em .5em">
                                                <wm-label caption="Week 3" name="label46_1" margin="0em"></wm-label>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="9" name="gridcolumn56_1" padding="1em">
                                                <wm-label caption="Attrition rate on week 3 was 40%" name="label47_1" margin="0em"></wm-label>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                        <wm-gridrow name="gridrow28_1">
                                            <wm-gridcolumn columnwidth="3" name="gridcolumn57_1" padding="1em .5em">
                                                <wm-label caption="Week 4" name="label48" margin="0em"></wm-label>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="9" name="gridcolumn58" padding="1em">
                                                <wm-label caption="Attrition rate on week 4 was 40%" name="label49" margin="0em"></wm-label>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                    </wm-layoutgrid>
                                </wm-accordionpane>
                                <wm-accordionpane name="accordionpane3" heading="March 2015" borderwidth="0em">
                                    <wm-layoutgrid name="layoutgrid10">
                                        <wm-gridrow name="gridrow21">
                                            <wm-gridcolumn columnwidth="3" name="gridcolumn43" padding="1em .5em">
                                                <wm-label caption="Week 1" name="label34" margin="0em"></wm-label>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="9" name="gridcolumn44" padding="1em">
                                                <wm-label caption="Attrition rate on week 1 was 40%" name="label35" margin="0em"></wm-label>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                        <wm-gridrow name="gridrow22">
                                            <wm-gridcolumn columnwidth="3" name="gridcolumn45_1" padding="1em .5em">
                                                <wm-label caption="Week 2" name="label36_1" margin="0em"></wm-label>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="9" name="gridcolumn46" padding="1em">
                                                <wm-label caption="Attrition rate on week 2 was 40%" name="label37_1" margin="0em"></wm-label>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                        <wm-gridrow name="gridrow23">
                                            <wm-gridcolumn columnwidth="3" name="gridcolumn47" padding="1em .5em">
                                                <wm-label caption="Week 3" name="label38_1" margin="0em"></wm-label>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="9" name="gridcolumn48" padding="1em">
                                                <wm-label caption="Attrition rate on week 3 was 40%" name="label39_1" margin="0em"></wm-label>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                        <wm-gridrow name="gridrow24_1">
                                            <wm-gridcolumn columnwidth="3" name="gridcolumn49" padding="1em .5em">
                                                <wm-label caption="Week 4" name="label40_1" margin="0em"></wm-label>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="9" name="gridcolumn50" padding="1em">
                                                <wm-label caption="Attrition rate on week 4 was 40%" name="label41_1" margin="0em"></wm-label>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                    </wm-layoutgrid>
                                </wm-accordionpane>
                            </wm-accordion>
                        </wm-panel>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow21_1" padding=".5em">
                    <wm-gridcolumn columnwidth="4" name="gridcolumn41" padding=".5em .5em .5em 0em ">
                        <wm-panel collapsible="false" showheader="true" name="panel4_1" title="Absence Summary" borderwidth="0em" margin="0em">
                            <wm-chart type="Pie" name="chart2" theme="Mellow" showlegend="false" offsettop="10"></wm-chart>
                        </wm-panel>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="4" name="gridcolumn44_1" padding=".5em">
                        <wm-panel class="payroll-panel" collapsible="false" showheader="true" name="panel5" title="Payroll Structure Summary" borderwidth="0em" margin="0em">
                            <wm-chart type="Pie" name="chart3" showlegend="false" theme="Annabelle" offsettop="10"></wm-chart>
                        </wm-panel>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="4" name="gridcolumn42" padding=".5em 0em .5em .5em ">
                        <wm-panel collapsible="false" showheader="true" name="panel6" title="Headcount Trend" borderwidth="0em" margin="0em">
                            <wm-chart type="Bar" name="chart4" showlegend="false" theme="Retro" xaxislabeldistance="1" xaxislabel="Headcount" yaxislabel="Available" padding="1px 0px"></wm-chart>
                        </wm-panel>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow18" padding="0em .5em">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn45" padding="0em">
                        <wm-panel collapsible="false" showheader="true" name="panel2" title="HR Tickets" borderwidth="0em">
                            <wm-layoutgrid name="layoutgrid7">
                                <wm-gridrow name="gridrow14_1">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn31" padding="1em 0em">
                                        <wm-livetable name="livegrid3" service="hrdb@User">
                                            <wm-table deleterow="true" updaterow="true" insertrow="false" gridfirstrowselect="false" readonlygrid="false" name="grid3" shownavigation="true" showrowindex="false" radioselect="false" multiselect="true" gridsearch="true">
                                                <wm-table-column binding="employeename" caption="Employee Name" type="string" readonly="false" search-placeholder="Search" pcdisplay="true" mobiledisplay="true"></wm-table-column>
                                                <wm-table-column binding="employeeid" caption="Employee Id" type="string" readonly="false" search-placeholder="Search" pcdisplay="true" mobiledisplay="true"></wm-table-column>
                                                <wm-table-column binding="issuetype" caption="Issue Type" type="string" readonly="false" search-placeholder="Search" pcdisplay="true" mobiledisplay="true"></wm-table-column>
                                                <wm-table-column binding="description" caption="Description" type="string" readonly="false" search-placeholder="Search" pcdisplay="true" mobiledisplay="true"></wm-table-column>
                                            </wm-table>
                                        </wm-livetable>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                        </wm-panel>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>