<wm-page data-ng-controller="MenuPageController" pagetitle="Menu" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-select class="select-locale" dataset="bind:Variables.supportedLocale.dataSet" on-change="changeAppLocale($scope)" placeholder="Select Language" name="select1"></wm-select>
            <wm-menu caption="Menu" autoclose="outsideClick" name="menu1" dataset="bind:Variables.menudata.dataSet" itemlabel="bind:$root.appLocale[mylabel]" itemicon="icon" itemlink="link"></wm-menu>
        </wm-page-content>
    </wm-content>
</wm-page>