<wm-page data-ng-controller="test3iPageController" pagetitle="Test 3 I" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-table editmode="inline" name="UserTable1" title="User List" dataset="bind:Variables.HrdbUserData.dataSet" navigation="Basic">
                <wm-table-column binding="userId" caption="User Id" primary-key="true" edit-widget-type="number" type="integer" generator="identity" readonly="true" show="true"></wm-table-column>
                <wm-table-column binding="username" caption="Username" widget-type="anchor" edit-widget-type="text" type="string" generator="assigned" show="true" readonly="false">
                    <wm-anchor caption="{{row.getProperty('username')}}" hyperlink="" class="" data-ng-class="" on-click="Actions.goToPage_PublicPage.invoke()"></wm-anchor>
                </wm-table-column>
                <wm-table-column binding="password" caption="Password" edit-widget-type="text" type="string" generator="assigned" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="role" caption="Role" edit-widget-type="text" type="string" generator="assigned" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="tenantId" caption="Tenant Id" edit-widget-type="number" type="integer" generator="assigned" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="rowOperations" caption="Actions" width="120px" type="custom" readonly="true" sortable="false" searchable="false" show="true"></wm-table-column>
                <wm-table-action key="addNewRow" display-name="New" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="addNewRow()" shortcutkey="" disabled="false"></wm-table-action>
                <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()" disabled="false"></wm-table-row-action>
                <wm-table-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" disabled="false"></wm-table-row-action>
            </wm-table>
            <wm-anchor margin="unset 0.5em" name="anchor1" on-click="Actions.goToPage_PublicPage.invoke()"></wm-anchor>
        </wm-page-content>
    </wm-content>
</wm-page>