<wm-page data-ng-controller="ChartPageController" pagetitle="Chart" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-chart type="Line" title="Line Chart" height="250px" iconclass="wi wi-line-chart" name="chart3" dataset="bind:Variables.databaseVariable2.dataSet" aggregation="average" aggregationcolumn="budget" groupby="deptCode" xaxisdatakey="deptCode" yaxisdatakey="budget"></wm-chart>
            <wm-anchor margin="unset 0.5em" name="anchor1" on-click="anchor1Click($event, $scope)"></wm-anchor>
        </wm-page-content>
    </wm-content>
</wm-page>