<wm-page data-ng-controller="DraggablePageController" pagetitle="Draggable" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-button class="btn-default" caption="Button" type="button" margin="unset 0.5em" name="button2" on-click="Widgets.draggable.open()"></wm-button>
            <wm-popover popoverwidth="240" popoverheight="360" margin="unset 0.5em" name="popover1" content="testGrid" on-load="popover1Load($isolateScope)" class="dragme"></wm-popover>
        </wm-page-content>
    </wm-content>
    <wm-view class="dialog-view" name="view1">
        <wm-dialog dialogtype="design-dialog" modal="true" title="Information" iconclass="wi wi-file-text" name="draggable" class="dragme" on-opened="draggableOpened($event, $scope)">
            <wm-layoutgrid name="layoutgrid1">
                <wm-gridrow name="gridrow1">
                    <wm-gridcolumn columnwidth="6" name="gridcolumn1">
                        <wm-label padding="unset 0.5em" caption="Name" name="label1"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="6" name="gridcolumn2">
                        <wm-label padding="unset 0.5em" caption="Eric" name="label2"></wm-label>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow2">
                    <wm-gridcolumn columnwidth="6" name="gridcolumn3">
                        <wm-label padding="unset 0.5em" caption="Title" name="label3"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="6" name="gridcolumn4">
                        <wm-label padding="unset 0.5em" caption="Engineer" name="label4"></wm-label>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
            <wm-dialogactions name="dialogactions1">
                <wm-button class="btn-primary" caption="Close" on-click="closeDialog()" name="button1"></wm-button>
            </wm-dialogactions>
        </wm-dialog>
    </wm-view>
</wm-page>