<wm-page data-ng-controller="ValidatontestPageController" pagetitle="Validatontest" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-label padding="unset 0.5em" name="label1" required="false"></wm-label>
            <wm-liveform errormessage="" title="User Info" iconclass="wi wi-edit" defaultmode="Edit" dataset="bind:Variables.HrdbUserData.dataSet" captionalign="left" captionposition="top" name="UserLiveForm1">
                <wm-layoutgrid columns="3" name="layoutgrid1">
                    <wm-gridrow name="gridrow1">
                        <wm-gridcolumn columnwidth="4" name="gridcolumn1">
                            <wm-form-field name="username" displayname="Username" required="false" show="true" generator="assigned" primary-key="false" key="username" type="string" is-related="false" maxchars="20" pc-display="true" mobile-display="true" widget="text"
                                validationmessage="Value should start from WFH"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="4" name="gridcolumn2">
                            <wm-form-field name="password" displayname="Password" required="false" show="true" generator="assigned" primary-key="false" key="password" type="string" is-related="false" maxchars="20" pc-display="true" mobile-display="true" widget="text"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="4" name="gridcolumn3">
                            <wm-form-field name="role" displayname="Role" required="false" show="true" generator="assigned" primary-key="false" key="role" type="string" is-related="false" maxchars="20" pc-display="true" mobile-display="true" widget="text"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow2">
                        <wm-gridcolumn columnwidth="4" name="gridcolumn4">
                            <wm-form-field name="tenantId" displayname="Tenant Id" required="false" show="true" generator="assigned" primary-key="false" key="tenantId" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="4" name="gridcolumn5"></wm-gridcolumn>
                        <wm-gridcolumn columnwidth="4" name="gridcolumn6"></wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
                <wm-form-field name="userId" displayname="User Id" required="true" show="false" generator="identity" primary-key="true" key="userId" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                <wm-form-action key="reset" class="form-reset btn-secondary" iconclass="wi wi-refresh" action="reset()" display-name="Reset" show="true" type="button" update-mode="true"></wm-form-action>
                <wm-form-action key="save" class="form-save btn-success" iconclass="wi wi-save" display-name="Save" show="true" type="submit" update-mode="true"></wm-form-action>
            </wm-liveform>
            <wm-composite name="composite1">
                <wm-checkbox caption="Label" class="col-md-push-3 col-md-9" name="checkbox1" on-change="checkbox1Change($event, $scope, newVal, oldVal)"></wm-checkbox>
                <wm-composite name="composite3">
                    <wm-label class="col-md-3 control-label" name="label3"></wm-label>
                    <wm-container class="col-md-9" name="container2">
                        <wm-checkbox caption="Toggle" type="toggle" name="toggle1" on-change="toggle1Change($event, $scope, newVal, oldVal)"></wm-checkbox>
                    </wm-container>
                </wm-composite>
            </wm-composite>
            <wm-composite name="composite2">
                <wm-label class="col-md-3 control-label" name="label2" caption="No Code Found"></wm-label>
                <wm-container class="col-md-9" name="container1">
                    <wm-text name="text1"></wm-text>
                </wm-container>
            </wm-composite>
            <wm-button class="btn-default" caption="Button" type="button" margin="unset 0.5em" name="button1" on-click="button1Click($event, $scope)"></wm-button>
            <wm-button class="btn-default" caption="Input" type="button" margin="unset 0.5em" name="button2" on-click="button2Click($event, $scope)"></wm-button>
        </wm-page-content>
    </wm-content>
</wm-page>