<wm-page data-ng-controller="testStaticVariablePageController" pagetitle="Test Static Variable" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-table name="uploadFunctionalityTable1" title="" dataset="bind:Variables.uploadFunctionality.dataSet" navigation="Basic">
                <wm-table-column binding="file" caption="File" edit-widget-type="upload" type="string" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="name" caption="Name" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                <wm-table-action key="addNewRow" display-name="New" iconclass="wi wi-plus" show="true" class="btn-primary" action="addNewRow()" shortcutkey=""></wm-table-action>
                <wm-table-row-action key="updaterow" display-name="" title="Edit" iconclass="wi wi-pencil" show="true" class="btn-transparent" action="editRow()"></wm-table-row-action>
                <wm-table-row-action key="deleterow" display-name="" title="Delete" iconclass="wi wi-trash" show="true" class="btn-transparent" action="deleteRow()"></wm-table-row-action>
            </wm-table>
        </wm-page-content>
    </wm-content>
</wm-page>