<wm-page data-ng-controller="testDeepPageController" pagetitle="Test Deep" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-livetable formlayout="dialog" name="KdbDocListLiveTable1">
                <wm-table gridfirstrowselect="true" editmode="dialog" name="KdbDocListTable1" title="Kdbdoclist List" dataset="bind:Variables.TestExportFeatureKdbDocListData.dataSet" navigation="Basic">
                    <wm-table-column binding="kdbDocClass.kdbDocClassId" caption="Class Id" generator="identity" pcdisplay="true" mobiledisplay="true" type="integer" primary-key="true" related-entity-name="KdbDocClass"></wm-table-column>
                    <wm-table-column binding="kdbDocumentList.kdbDocumentListId" caption="List Id" generator="identity" pcdisplay="true" mobiledisplay="true" type="integer" primary-key="true" related-entity-name="KdbDocumentList"></wm-table-column>
                    <wm-table-action key="addNewRow" display-name="New" iconclass="wi wi-plus" show="true" class="btn-primary" action="addNewRow()" position="footer" shortcutkey=""></wm-table-action>
                    <wm-table-row-action key="updaterow" display-name="" title="Edit" iconclass="wi wi-pencil" show="true" class="btn-transparent" action="editRow()"></wm-table-row-action>
                    <wm-table-row-action key="deleterow" display-name="" title="Delete" iconclass="wi wi-trash" show="true" class="btn-transparent" action="deleteRow()"></wm-table-row-action>
                </wm-table>
                <wm-liveform errormessage="" title="Kdbdoclist Info" formlayout="dialog" iconclass="wi wi-edit" name="KdbDocListLiveForm1" dataset="bind:Variables.TestExportFeatureKdbDocListData.dataSet" captionalign="left" captionposition="top">
                    <wm-layoutgrid columns="2" name="layoutgrid1">
                        <wm-gridrow name="gridrow1">
                            <wm-gridcolumn columnwidth="6" name="gridcolumn1">
                                <wm-form-field name="kdbDocClass" displayname="Kdb Doc Class" required="false" show="true" generator="assigned" primary-key="false" key="docClassId" type="list" is-related="true" pc-display="true" mobile-display="true" widget="select" dataset="bind:Variables.DocClassList.dataSet"
                                    datafield="kdbDocClassId" displayfield="name"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="6" name="gridcolumn2">
                                <wm-form-field name="kdbDocumentList" displayname="Kdb Document List" required="false" show="true" generator="assigned" primary-key="false" key="documentId" type="list" is-related="true" pc-display="true" mobile-display="true" widget="select" dataset="bind:Variables.DocumentList.dataSet"
                                    datafield="kdbDocumentListId" displayfield="name"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                    <wm-form-field name="id" displayname="Id" required="true" show="false" generator="identity" primary-key="true" key="id" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                    <wm-form-action key="cancel" class="form-cancel btn-secondary" iconclass="wi wi-cancel" action="cancel()" display-name="Cancel" show="true" type="button" update-mode="true"></wm-form-action>
                    <wm-form-action key="save" class="form-save btn-success" iconclass="wi wi-save" display-name="Save" show="true" type="submit" update-mode="true"></wm-form-action>
                </wm-liveform>
            </wm-livetable>
            <wm-table editmode="inline" name="KdbDocClassTable1" title="Kdbdocclass List" dataset="bind:Variables.TestExportFeatureKdbDocClassData.dataSet" navigation="Basic">
                <wm-table-column binding="kdbDocClassId" caption="Kdb Doc Class Id" generator="identity" pcdisplay="true" mobiledisplay="true" type="integer" primary-key="true" readonly="true"></wm-table-column>
                <wm-table-column binding="name" caption="Name" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-table-column>
                <wm-table-action key="addNewRow" display-name="New" iconclass="wi wi-plus" show="true" class="btn-primary" action="addNewRow()" position="footer" shortcutkey=""></wm-table-action>
                <wm-table-row-action key="updaterow" display-name="" title="Edit" iconclass="wi wi-pencil" show="true" class="btn-transparent" action="editRow()"></wm-table-row-action>
                <wm-table-row-action key="deleterow" display-name="" title="Delete" iconclass="wi wi-trash" show="true" class="btn-transparent" action="deleteRow()"></wm-table-row-action>
            </wm-table>
            <wm-table editmode="inline" name="KdbDocumentListTable1" title="Kdbdocumentlist List" dataset="bind:Variables.TestExportFeatureKdbDocumentListData.dataSet" navigation="Basic">
                <wm-table-column binding="kdbDocumentListId" caption="Kdb Document List Id" primary-key="true" edit-widget-type="number" type="integer" generator="identity" readonly="true" show="true"></wm-table-column>
                <wm-table-column binding="name" caption="Name" edit-widget-type="text" type="string" generator="assigned" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="kdbDocClass.kdbDocClassId" caption="Class Id" primary-key="true" edit-widget-type="select" related-entity-name="KdbDocClass" type="integer" generator="identity" datafield="kdbDocClassId" displayfield="kdbDocClassId" show="true"
                    readonly="false"></wm-table-column>
                <wm-table-column binding="rowOperations" caption="Actions" width="120px" type="custom" readonly="true" sortable="false" searchable="false" show="true"></wm-table-column>
                <wm-table-action key="addNewRow" display-name="New" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="addNewRow()" shortcutkey="" disabled="false"></wm-table-action>
                <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()" disabled="false"></wm-table-row-action>
                <wm-table-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" disabled="false"></wm-table-row-action>
            </wm-table>
        </wm-page-content>
    </wm-content>
</wm-page>