<wm-page data-ng-controller="AdminPagePageController" pagetitle="Admin Page"> 
    <wm-header content="header"></wm-header> 
    <wm-top-nav content="topnav"></wm-top-nav> 
    <wm-content> 
        <wm-page-content columnwidth="12"> 
        </wm-page-content> 
    </wm-content> 
    <wm-footer content="footer"></wm-footer> 
</wm-page>