<wm-page data-ng-controller="ChangePageController" pagetitle="Change" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-composite name="composite1">
                <wm-label class="col-md-3 control-label" name="label1"></wm-label>
                <wm-container class="col-md-9" name="container1">
                    <wm-text name="text1" on-change="text1Change($event, $scope, newVal, oldVal)" updateon="default"></wm-text>
                </wm-container>
            </wm-composite>
            <wm-button class="btn-default" caption="Button" type="button" margin="unset 0.5em" name="button1" on-click="button1Click($event, $scope)"></wm-button>
        </wm-page-content>
    </wm-content>
</wm-page>