<wm-page data-ng-controller="CarouselPageController" pagetitle="Carousel" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-carousel height="480" name="carousel1">
                <wm-carousel-content name="carousel_content1">
                    <wm-carousel height="480" name="carousel2">
                        <wm-carousel-content name="carousel_content4">
                            <wm-picture width="100%" name="picture4"></wm-picture>
                        </wm-carousel-content>
                        <wm-carousel-content name="carousel_content5">
                            <wm-picture width="100%" name="picture5"></wm-picture>
                        </wm-carousel-content>
                        <wm-carousel-content name="carousel_content6">
                            <wm-picture width="100%" name="picture6"></wm-picture>
                        </wm-carousel-content>
                    </wm-carousel>
                    <wm-picture width="100%" name="picture1"></wm-picture>
                </wm-carousel-content>
                <wm-carousel-content name="carousel_content2">
                    <wm-picture width="100%" name="picture2"></wm-picture>
                </wm-carousel-content>
                <wm-carousel-content name="carousel_content3">
                    <wm-picture width="100%" name="picture3"></wm-picture>
                </wm-carousel-content>
            </wm-carousel>
        </wm-page-content>
    </wm-content>
</wm-page>