<wm-page data-ng-controller="testMercyPageController" pagetitle="Test Mercy" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-table name="tblDelegates" title="Delegates" dataset="bind:Variables.svConfig.dataSet.delegate" navigation="Pager" show="bind:Variables.varGridLayer.dataSet.dataValue == 'Delegate'" filtermode="multicolumn" class="panel-primary">
                <wm-table-column binding="delegateUserid" caption="Delegate<br>Userid" width="80px" edit-widget-type="text" type="string" readonly="true" mobiledisplay="false" show="true"></wm-table-column>
                <wm-table-column binding="delegateDispname" caption="Delegate<br>Name" edit-widget-type="text" type="string" readonly="true" mobiledisplay="false" show="true"></wm-table-column>
                <wm-table-column binding="delegateEmail" caption="Delegate<br>Email" edit-widget-type="text" type="string" readonly="true" mobiledisplay="false" searchable="false" show="true"></wm-table-column>
                <wm-table-column binding="originalUserid" caption="Manager<br>Userid" width="80px" edit-widget-type="text" type="string" readonly="true" mobiledisplay="false" show="true"></wm-table-column>
                <wm-table-column binding="originalDispname" caption="Manager<br>Name" edit-widget-type="text" type="string" readonly="true" mobiledisplay="false" show="true"></wm-table-column>
                <wm-table-column binding="originalEmail" caption="Manager<br>Email" edit-widget-type="text" type="string" readonly="true" mobiledisplay="false" searchable="false" show="true"></wm-table-column>
                <wm-table-column binding="incentive" caption="Enter<br>Incentives" widget-type="checkbox" width="80px" edit-widget-type="checkbox" type="string" mobiledisplay="false" searchable="false" show="true" checkedvalue="true" uncheckedvalue="false" readonly="false"
                    on-click="incentiveOnClick($event, $scope, rowData)" on-change="incentiveOnChange($event, $scope, rowData)">
                    <wm-checkbox scopedatavalue="row['incentive']" disabled="{{colDef.readonly}}" on-change="incentiveOnChange(row)" class="" data-ng-class=""></wm-checkbox>
                </wm-table-column>
                <wm-table-column binding="rowOperations" caption="Actions" width="75px" edit-widget-type="text" type="custom" readonly="true" sortable="false" searchable="false" show="true"></wm-table-column>
                <wm-table-action key="customButton" display-name="Add" show="true" class="btn-default" iconclass="" title="Add" action="Widgets.ddDelegate.open()" shortcutkey="" disabled="false"></wm-table-action>
                <wm-table-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleterowAction($event)" disabled="false"></wm-table-row-action>
            </wm-table>
            <wm-table name="executeTestMercyTable1" title="" dataset="bind:Variables.testMercy.dataSet" navigation="Basic">
                <wm-table-column binding="name" caption="Name" edit-widget-type="text" type="string" readonly="true" show="true"></wm-table-column>
                <wm-table-column binding="admin" caption="Admin" widget-type="checkbox" edit-widget-type="text" type="string" show="true" checkedvalue="'true'" uncheckedvalue="'false'" readonly="false">
                    <wm-checkbox scopedatavalue="row['admin']" disabled="" class="" data-ng-class="" checkedvalue="'true'" uncheckedvalue="'false'" on-change="adminOnChange(row)"></wm-checkbox>
                </wm-table-column>
                <wm-table-column binding="id" caption="Id" edit-widget-type="number" type="integer" readonly="true" show="true"></wm-table-column>
                <wm-table-column binding="department" caption="Department" edit-widget-type="text" type="string" readonly="true" show="true"></wm-table-column>
            </wm-table>
            <wm-composite name="composite1">
                <wm-checkbox caption="Label" class="col-md-push-3 col-md-9" name="checkbox1" datavalue="bind:Variables.testMercy.dataSet[$i].admin" checkedvalue="'true'" uncheckedvalue="'false'"></wm-checkbox>
            </wm-composite>
        </wm-page-content>
    </wm-content>
</wm-page>