<wm-page data-ng-controller="MainPageController" name="mainpage" pagetitle="Main">
    <wm-header content="header" name="header" height="auto"></wm-header>
    <wm-top-nav name="topnav" content="topnav"></wm-top-nav>
    <wm-content name="content">
        <wm-left-panel columnwidth="2" name="leftpanel" content="leftnav"></wm-left-panel>
        <wm-page-content columnwidth="8" name="mainContent" padding="unset 15px">
            <wm-fileupload name="fileupload1" service="FileService" operation="uploadFile" mode="Select" on-select="fileupload1Select($event, $scope)"></wm-fileupload>
            <wm-button class="btn-default" caption="Button" type="button" margin="unset 0.5em" name="button1" on-click="button1Click($event, $scope);Variables.serviceVariable3.invoke()"></wm-button>
            <wm-popover popoverwidth="240" popoverheight="360" margin="unset 0.5em" name="popover1" content="testGrid">
                <wm-param name="id" value="bind:Widgets.EmployeeTable1.selecteditem.empId" type="integer"></wm-param>
            </wm-popover>
            <wm-composite name="composite2">
                <wm-label class="col-md-3 control-label" name="label2"></wm-label>
                <wm-container class="col-md-9" name="container1">
                    <wm-select name="select1" dataset="bind:Variables.HrdbEmployeeData.dataSet" datafield="firstname" displayfield="firstname" placeholder="bind:Variables.HrdbEmployeeData.firstRecord.firstname" readonly="true" disabled="true"></wm-select>
                </wm-container>
            </wm-composite>
            <wm-rating name="rating1" maxvalue="5" dataset="bind:Variables.staticVariable1.dataSet" datavalue="bind:Variables.staticVariable1.dataSet[0].rating" readonly="true" datafield="name" displayfield="rating"></wm-rating>
            <wm-accordion name="accordion1">
                <wm-accordionpane name="accordionpane1"></wm-accordionpane>
                <wm-accordionpane name="accordionpane2"></wm-accordionpane>
                <wm-accordionpane name="accordionpane3"></wm-accordionpane>
            </wm-accordion>
        </wm-page-content>
        <wm-right-panel columnwidth="2" name="rightpanel" content="rightnav"></wm-right-panel>
    </wm-content>
    <wm-footer name="footer" content="footer"></wm-footer>
</wm-page>