<wm-page data-ng-controller="testSelectPageController" pagetitle="Test Select" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-composite name="composite1">
                <wm-label class="col-md-3 control-label" name="label1"></wm-label>
                <wm-container class="col-md-9" name="container1">
                    <wm-select name="select1" dataset="bind:Variables.databaseVariable1.dataSet" datafield="userId" displayfield="username" multiple="true"></wm-select>
                </wm-container>
            </wm-composite>
            <wm-chips name="chips1" dataset="bind:Variables.databaseVariable1.dataSet" datafield="userId" displayfield="username"></wm-chips>
            <wm-search name="search1" dataset="bind:Variables.databaseVariable1.dataSet" searchkey="username" displaylabel="password" datafield="userId" type="autocomplete"></wm-search>
        </wm-page-content>
    </wm-content>
</wm-page>