<wm-page data-ng-controller="MercyPageController" pagetitle="Mercy" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-table name="staticVariable1Table1" title="" dataset="bind:Variables.staticVariable1.dataSet" navigation="Basic" radioselect="false" multiselect="true">
                <wm-table-column binding="budget" caption="Budget" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="deptCode" caption="Dept Code" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="deptId" caption="Dept Id" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="location" caption="Location" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="name" caption="Name" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="q1" caption="Q1" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="q2" caption="Q2" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="q3" caption="Q3" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="q4" caption="Q4" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="tenantId" caption="Tenant Id" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                <wm-table-action key="customButton" display-name="Edit" show="true" class="btn-secondary" iconclass="" title="Edit" action="Widgets.dialog1.open()" shortcutkey="" disabled="false"></wm-table-action>
            </wm-table>
        </wm-page-content>
    </wm-content>
    <wm-view class="dialog-view" name="view1">
        <wm-dialog dialogtype="design-dialog" modal="true" title="Information" iconclass="wi wi-file-text" name="dialog1" on-opened="dialog1Opened($event, $scope)">
            <wm-table editmode="inline" name="DepartmentTable1" title="Department List" dataset="bind:Variables.HrdbDepartmentData.dataSet" navigation="Basic" radioselect="false" multiselect="true" on-select="DepartmentTable1Select($event, $scope, $rowData)"
                on-datarender="DepartmentTable1Datarender($scope, $data)">
                <wm-table-column binding="deptId" caption="Dept Id" primary-key="true" edit-widget-type="number" type="integer" generator="identity" readonly="true" show="true"></wm-table-column>
                <wm-table-column binding="name" caption="Name" edit-widget-type="text" type="string" generator="assigned" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="budget" caption="Budget" edit-widget-type="number" type="integer" generator="assigned" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="q1" caption="Q1" edit-widget-type="number" type="integer" generator="assigned" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="q2" caption="Q2" edit-widget-type="number" type="integer" generator="assigned" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="q3" caption="Q3" edit-widget-type="number" type="integer" generator="assigned" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="q4" caption="Q4" edit-widget-type="number" type="integer" generator="assigned" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="deptCode" caption="Dept Code" edit-widget-type="text" type="string" generator="assigned" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="location" caption="Location" edit-widget-type="text" type="string" generator="assigned" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="tenantId" caption="Tenant Id" edit-widget-type="number" type="integer" generator="assigned" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="rowOperations" caption="Actions" width="120px" type="custom" readonly="true" sortable="false" searchable="false" show="true"></wm-table-column>
                <wm-table-action key="addNewRow" display-name="New" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="addNewRow()" shortcutkey="" disabled="false"></wm-table-action>
                <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()" disabled="false"></wm-table-row-action>
                <wm-table-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" disabled="false"></wm-table-row-action>
            </wm-table>
            <wm-dialogactions name="dialogactions1">
                <wm-button class="btn-primary" caption="Close" on-click="closeDialog()" name="button1"></wm-button>
            </wm-dialogactions>
        </wm-dialog>
    </wm-view>
</wm-page>