.app-spinner .spinner-message::after {
    content: "Loading test message...";
}

.app-spinner .spinner-message .spinner-messages,
.app-spinner .spinner-message .spinner-image {
    display: block !important;
}