<wm-page data-ng-controller="i3testPageController" pagetitle="I 3 Test" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-table editmode="inline" name="test3iTable1" title="" dataset="bind:Variables.test3i.dataSet" navigation="Basic" on-beforerowinsert="test3iTable1Beforerowinsert($event, $scope, $rowData)">
                <wm-table-column binding="ClaimType" caption="Claim Type" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="DeleteShow" caption="Delete Show" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="Estimate" caption="Estimate" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="Quantity" caption="Quantity" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="Replace" caption="Replace" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="ReportSubDate" caption="Report Sub Date" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="SRNO" caption="Srno" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="SpareParts" caption="Spare Parts" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="losstype" caption="Losstype" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="rowOperations" caption="Actions" width="120px" edit-widget-type="text" type="custom" readonly="true" sortable="false" searchable="false" show="true"></wm-table-column>
                <wm-table-action key="addNewRow" display-name="New" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="addNewRow()" shortcutkey="" disabled="false"></wm-table-action>
                <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()" disabled="false"></wm-table-row-action>
                <wm-table-row-action key="deleterow" display-name="" show="bind:(Variables.test3i.dataSet[$i].DeleteShow == true) " class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" disabled="false"></wm-table-row-action>
            </wm-table>
            <wm-table editmode="inline" name="Table6Table1" title="Table6 List" dataset="bind:Variables.TestExportFeatureTable6Data.dataSet" navigation="Basic" on-beforerowinsert="Table6Table1Beforerowinsert($event, $scope, $rowData)">
                <wm-table-column binding="id" caption="Id" primary-key="true" edit-widget-type="number" type="integer" generator="identity" readonly="true" show="true"></wm-table-column>
                <wm-table-column binding="name" caption="Name" edit-widget-type="text" type="string" generator="assigned" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="rowOperations" caption="Actions" width="120px" edit-widget-type="text" type="custom" readonly="true" sortable="false" searchable="false" show="true"></wm-table-column>
                <wm-table-action key="addNewRow" display-name="New" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="addNewRow()" shortcutkey="" disabled="false"></wm-table-action>
                <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()" disabled="false"></wm-table-row-action>
                <wm-table-row-action key="deleterow" display-name="" show="bind:row.deleteShow === &quot;true&quot;" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" disabled="false"></wm-table-row-action>
            </wm-table>
            <wm-composite name="composite1">
                <wm-label class="col-md-3 control-label" name="label1"></wm-label>
                <wm-container class="col-md-9" name="container1">
                    <wm-radioset height="auto" name="radioset1" dataset="Option 3 Option 3 Option 3 Option 3 Option 3 Option 3 Option 3 Option 3 Option 3 Option 3 Option 3 Option 3Option 3 Option 3 Option 3 Option 3 Option 3Option 3Option 3 Option 3 Option 3 Option 3 Option 3 Option 3, Optuonjhefjnjknf, ghhjjj, bhendms"
                        width="45%"></wm-radioset>
                </wm-container>
            </wm-composite>
        </wm-page-content>
    </wm-content>
</wm-page>