<wm-page data-ng-controller="testDateonIEPageController" pagetitle="Test Dateon Ie" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-composite name="composite1">
                <wm-label class="col-md-3 control-label" name="label1" caption="bind:Widgets.date1.datavalue"></wm-label>
                <wm-container class="col-md-9" name="container1">
                    <wm-date name="date1" datepattern="dd-MMM-yyyy" outputformat="dd-MMM-yyyy" on-change="date1Change($event, $scope, newVal, oldVal)" datavalue="07-Aug-1985"></wm-date>
                </wm-container>
            </wm-composite>
        </wm-page-content>
    </wm-content>
</wm-page>