<wm-page data-ng-controller="BlobTpePageController" pagetitle="Blob Tpe" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-liveform errormessage="" title="Table7 Info" iconclass="wi wi-edit" defaultmode="Edit" dataset="bind:Variables.TestExportFeatureTable7Data.dataSet" captionalign="left" captionposition="top" name="Table7LiveForm1" on-success="Table7LiveForm1Success($event, $operation, $data)">
                <wm-layoutgrid columns="2" name="layoutgrid1">
                    <wm-gridrow name="gridrow1">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn1">
                            <wm-form-field name="name" displayname="Name" required="false" show="true" generator="assigned" primary-key="false" key="name" type="string" is-related="false" maxchars="255" pc-display="true" mobile-display="true" widget="text"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn2">
                            <wm-form-field name="uploadFile" displayname="Upload File" required="false" show="true" generator="assigned" primary-key="false" key="uploadFile" type="blob" is-related="false" maxchars="-1" pc-display="true" mobile-display="true"
                                widget="upload"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
                <wm-form-field name="id" displayname="Id" required="true" show="false" generator="identity" primary-key="true" key="id" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                <wm-form-action key="reset" class="form-reset btn-secondary" iconclass="wi wi-refresh" action="reset()" display-name="Reset" show="true" type="button" update-mode="true"></wm-form-action>
                <wm-form-action key="save" class="form-save btn-success" iconclass="wi wi-save" display-name="Save" show="true" type="submit" update-mode="true"></wm-form-action>
            </wm-liveform>
            <wm-table editmode="inline" name="testBlobTable1" title="" dataset="bind:Variables.testBlob.dataSet" navigation="Basic">
                <wm-table-column binding="file" caption="File" widget-type="label" edit-widget-type="text" type="string" show="true" readonly="false">
                    <wm-label caption="{{row.getProperty('file').name}}" class="" data-ng-class=""></wm-label>
                </wm-table-column>
                <wm-table-column binding="name" caption="Name" edit-widget-type="upload" type="string" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="rowOperations" caption="Actions" width="120px" edit-widget-type="text" type="custom" readonly="true" sortable="false" searchable="false" show="true"></wm-table-column>
                <wm-table-action key="addNewRow" display-name="New" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="addNewRow()" shortcutkey="" disabled="false"></wm-table-action>
                <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()" disabled="false"></wm-table-row-action>
                <wm-table-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" disabled="false"></wm-table-row-action>
            </wm-table>
        </wm-page-content>
    </wm-content>
</wm-page>